<div class="d-flex h-100 justify-content-center align-items-center flex-column">
  <div class="flip-card-container">
    <mat-card *ngIf="item$ | async as item" class="flip-card">
      <mat-card-title class="text-center">{{ item.title }}</mat-card-title>
      <ng-container *ngIf="isFlipped">
        <mat-card-subtitle class="text-center" *ngIf="item.source">
          <a href="{{item.source.link}}" target="_blank" rel="noopener">{{ item.source.title }}</a>
        </mat-card-subtitle>
        <mat-card-content>
          <p>{{ item.description }}</p>
          <p *ngIf="item.content">{{ item.content }}</p>
        </mat-card-content>
      </ng-container>
    </mat-card>
  </div>
  <div class="my-1" style="height: 56px;">
    <ng-container *ngIf="isFlipped && !isResultChosen">
      Na wusstest du die Anwort?<br>
      <button mat-raised-button color="accent" data-spec="btn-result-yes" class="mx-3" (click)="onResult(true)">
        Ja
      </button>
      <button mat-raised-button color="accent" data-spec="btn-result-no" (click)="onResult(false)">
        Nein
      </button>
    </ng-container>
  </div>
  <div class="my-1" data-spec="pager-info">
    {{ (actualCardNumber$ | async) }} von {{ itemCount$ | async }}
  </div>
  <div class="my-1 d-flex justify-content-between" style="width: 500px;">
    <button
      mat-flat-button
      color="primary"
      data-spec="btn-prev"
      [disabled]="isPrevButtonDisabled$ | async"
      (click)="onPrev()"
    >Zurück</button>
    <button
      mat-flat-button color="accent"
      data-spec="btn-flip"
      [disabled]="isFlipped"
      (click)="isFlipped = !isFlipped"
    >Aufdecken</button>
    <button
      mat-flat-button
      color="primary"
      data-spec="btn-next"
      [disabled]="isNextButtonDisabled$ | async"
      (click)="onNext()"
    >Weiter</button>
  </div>
  <div class="my-1" *ngIf="results$ | async as results">
    <div class="pt-3 pe-3">
    <mat-icon fontIcon="check" matBadge="{{ results.rightCount }}"></mat-icon>&nbsp;&nbsp;&nbsp;
    <mat-icon fontIcon="close" matBadge="{{ results.wrongCount }}" matBadgeColor="warn"></mat-icon>
    </div>
  </div>
</div>
